section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}
.bg {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/luffy.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-color: #1eed86;
  clip-path: circle(20% at 55% 50%);
  z-index: 20;
}

h1 {
  @apply text-7xl;
}
h2 {
  @apply text-5xl;
}
h1,
h2 {
  @apply font-bold;
}
h4 {
  @apply text-3xl;
}
h2::after {
  content: "";
  width: 5rem;
  border-bottom: 2px dashed #1eed86;
  display: block;
  margin-top: 0.5rem;
}
.dots {
  display: block;
  height: auto;
  position: absolute;
  z-index: -2;
  width: 40%;
}

.dots1 {
  top: -15%;
  left: 6rem;
  z-index: 10;
}

.dots2 {
  top: 10%;
  right: 50%;
  z-index: 10;
}
blockquote {
  font-style: italic;
  padding: 2rem;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 1rem;
}

blockquote::after,
blockquote::before {
  content: '"';
  color: #1eed86;
  font-size: 2rem;
}

.skills-box span {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid #1eed86;
  font-size: 85%;
  padding: 0.25rem 0.75rem;
  font-weight: 300;
  border-radius: 1rem;
}
//
.half {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  gap: 1rem;
}

.half.right {
  margin-left: 50%;
}

.circle {
  position: absolute;
  top: 0;
  left: -10%;
  width: 100%;
  height: 100%;
  background: #b110f7;
  clip-path: circle(40% at 50% 50%);
}
.circle2 {
  background: rgb(138, 21, 21);
}
